.delivery{
    width: 100%;
}
.deliveryContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.deliveryHeader{
    text-align: center;
    position: sticky;
    top: 2px;
    background: #fff;
    margin: 10px 5px;
    justify-content: center;
    border-bottom: 1px solid rgba(233, 231, 231,0.45);
    padding: auto;
    border-top: 1px solid rgba(224, 222, 222,0.45);
}
.deliveryHeaders{
    text-align: center;
    position: sticky;
    top: 2px;
    background: orange;
    color: teal;
    margin: 10px 5px;
    justify-content: center;
    border-bottom: 1px solid rgba(233, 231, 231,0.45);
    padding: auto;
    border-top: 1px solid rgba(224, 222, 222,0.45);
}
.deliveryHeader > p{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1.7px;
    padding: 15px;
    text-transform: uppercase;
    color: crimson;
    z-index: 99;
}
a{
    text-decoration: none;
}
.deliveryBody{
    width: 100%;
    margin: 10px 20px;
    padding: 25px;
}
.bodyConttainer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;

}
.mainImage{
    width: 440px;
    height: 380px;
    object-fit: cover;
    border-radius: 2px;
}
.deliverImage{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 10px;

}
.deliverImage>p{
    color: teal;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;

}
.avatarImage{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.deilverBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
span{
    font-size: 17px;
    color: black;
    font-weight: 400;
    margin-right: 20px;
}
.phonenumbers{
    font-size: 22px;
    letter-spacing: 1.8px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin-left: 20px;

}
.cities{
    color: gray;
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold;
}
button{
    background: rgb(176, 231, 231);
    width: 450px;
}
.button:hover{
    background: rgb(243, 200, 184);;
    color: teal;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.deliveryFooter{
    width: 100%;
    padding: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    background: rgba(207, 206, 206,0.2);
    cursor: pointer;
    gap:20px;
    padding: 20px;
    /* border-top: 2px solid rgba(212, 210, 210,0.4); */
    flex-direction: column;
}
.footerHeader{
    text-align: center;
    width:100%;
    padding: 25px;
    justify-content: center;
}
.footerHeader>h1{
    font-size: 32px;
    font-weight: 450;
    color: teal;
    padding: 25px;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin-left: 30px;
}
.footerNetworkss{
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 150px;
    justify-content: center;
    text-align: center;
}
.footerNetworks{
    display: flex;
    gap:10px;
    flex-direction: column;
    cursor: pointer;
}
.footerNetworks>p{
    font-size: 20px;
    color: rgb(90, 90, 233);
    letter-spacing:2px;
    font-weight: 550;
}