.hotel{
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: relative;
}
.hotelContainer{
    display: flex;
    align-items: center;

}
.lSidebar{
    flex: 3.5;
    padding: 15px;
   
}
.rSidebar{
    flex: 6.5;
    padding: 15px;
    width: 94%;
    position: relative;
}
.openDatess{
    width: 390px;
    height: 30%;
    object-fit: cover;
    gap: 10px;
    color: black;
}
.positions{
    width: 33%;
    height: 100%;
    position: absolute;
    top: 480px;
}
.leftContainer{
    width: 80%;
    padding: 20px;
    background: linear-gradient(360deg, orange 5%, orangered);


   
   
}
.contants h1{
    font-size: 26px;
    font-weight: bolder;
    margin: 15px 10px;
}
.inputOption{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 21px;
    font-weight: bold;
    margin: 15px 10px;
}
.inputOption > input{
    width: 400px;
    padding: 9px 40px;
    font-size: 18px;
    height: 52px;
    color: black;
    letter-spacing: 2px;
}
.inputOption > span{
    width: 400px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: black;
    letter-spacing: 2px;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
}
.optionInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputOptions{
    display: flex;
    align-items: center;
}
.inputOptions>b{
    font-size: 20px;
    margin-top: 20px ;
    align-items: center;
    align-self: center;
}
.inputOptions>input{
    width: 70px;
    height: 40px;
}
.mins{
    margin-left: 140px;

}
.nights{
    margin-left: 135px;
    
}
.rnumbers{
    margin-left: 256px;
}
button{
    width: 400px;
    height: 56px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 40px;
}
.OrderHistoryHotel{
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 99999;

}
.sidebarSticky{
    position: fixed;
    top: 0;
    right:5px;
    padding: 25px;
    z-index: 99999;


}
.manageSearchs{
    animation-name: manager;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes manager {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(-100%);
    }
}