.adminHome{
    width: 100%;
}
.adminContainer{
    display: flex;
    align-items: center;

}
.sideContainer{
    flex: 3;
    padding: 15px;
    margin-top: -600px;

}
.sideContainers{
    flex: 7;
    padding: 15px;
}