.admNavbar{
    width: 100%;
    height: 70px;
    padding: 25px;
    top: 0px;
    position: sticky;
    z-index: 9;
    background: rgb(120, 120, 231);
}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navContainer>h1{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: bold;
    margin-left: 45px
}
.admIcons{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    margin-right: 50px;
}
.admNotification{
    position: relative;

}
.admNotification>span{
    position: absolute;
    top: -4.5px;
    color: black;
    right: 1px;
    padding: 3px 3px;
    background: rgba(241, 5, 5,0.95);
    border-radius: 56%;
}